.comments-container,
.input-container {
  text-align: center;
}

.input-container {
  margin-top: 10px;
}

.input-container input {
  width: 600px;
  height: 80px;
}

.row {
  max-width: 1000px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  height: 100vh;
}

.rowL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  height: 500px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: DodgerBlue;*/
}

.login-container input {
  border: 1px solid black;
  border-radius: 8px;
  background-color: whitesmoke;
  color: white;
  width: 500px;
  height: 50px;
  font-size: 16px;
}

.login-container button {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-top: 4em;
  background-color: grey;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 16px;
}

.rowI {
  display: flex;
  justify-content: space-between;
}
